<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="../public/form.css" rel="stylesheet" type="text/css">
</head>
<body>
    <h1>WelCome to Our Website </h1>
    <h1>Create a User!!</h1>
    <form action="/user" method="post">
        
        <input type="text" name="name" placeholder="Enter the Name">
        <input type="text" name="email" placeholder="Enter the Email">
        <input type="number" name="age" placeholder="Enter the Age">
        <button type="submit">Submit</button>
    </form>
</body>
</html>