body{
    background-image: url("./background.webp");
    background-repeat: none;
    background-size: cover;
}
input{
    border-radius: 12px 12px;
    margin: 12px 12px;
    height: 27px;
}
button{
    border-radius: 12px 12px;
    height: 27px;
    background-color: lightpink;
    font-weight: bold;
    color: white;
    text-decoration:none;
    margin:12px 12px;
}
a{
    text-decoration: none;
    color:white;
}
div{
    margin: 180px 465px;
    border: 2px solid black;
    border-radius: 12px 12px;
    padding: 12px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
